*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;    
}

body{
	font-size: 62.5%;
	font-family: Verdana,Arial;
	background: #1EB0D7 url(../images/bg2.png) repeat;
	background-size: 400%;
}
a {
	text-decoration: none;
}
.wrapper{
	min-height: 60rem;
	background: rgba(255,255,255,0.6);
	margin: 3rem 1rem 1rem 1rem;
	border-radius: 0.2rem;
}

header{
	padding: 1rem 0 1rem 0;
	font-size: 1.1rem;
	height: 5rem;
	margin: 0rem 3rem 0rem 3rem;
}

.forum-header{
	text-align: center;
}

.forum-header a{
	color: #fff;
	text-transform: uppercase;
	font-size: 1.8rem;
	border-bottom: 3px solid #fff;
	border-top: 3px solid #fff;
	padding: 0.3rem 0 0.3rem 0;
}

.forum-header:first-letter{
	font-size: 2.5rem;
}

.forum-header a:hover{
	border-bottom: 3px solid #006699;
	border-top: 3px solid #006699;
	transition: all .4s;
}

header nav ul li{
	display: inline-block;	
	font-size: 1.3rem;
	padding: 1rem 0.3rem 1rem 0.3rem;
	font-weight: bold;
}

header nav ul li a{
	color: #fff;
	background: #006699;
	border: 2px solid #006699;
	padding: 0.3rem;
	border-radius: 0.2rem;
	text-transform: uppercase;
}

.register-tag{
	background: #33FF99;
	border: 2px solid #33FF99;
	color: #006699;
}
.register-tag:hover{
	color: #fff;
}


header nav ul li a:hover{
	background: #00A3CC;
	transition: all .4s;
}

.search-form{
	position: absolute;
	display: inline-block;
	top: 4.7rem;
	right: 1rem;
	text-align: right;
}
.search-form a{
	color: #fff;
	font-size: 1rem;
	vertical-align: middle;
	padding: 0.2rem;
	border-radius: 0.2rem;
	font-weight: bold;
	background: #006699;
	border: 2px solid #006699;
}
.search-form a:hover{
	cursor: pointer;
	background: #00A3CC;
	transition: all .4s;
}

#search{
	width: 12rem;
	height: 1.8rem;
	border-radius: 0.2rem;
	border: 2px solid #009BC1;
	background: rgba(255,255,255,0.75);
}

.posts{
	padding: 3rem;
	font-size: 1.1rem;
	min-height: 70rem;
	float: left;
	width: 80%;
}

.required{
	color: red;
	font-size: 0.8rem;
	vertical-align: top;
}

.register-form{
	font-size: 1.2rem;
	text-align: center;
	width: 100%;
	padding: 10rem 0 0 0;
}

.register-form form{
	display: inline-block;
	padding: 1.5rem;
	border-radius: 0.2rem;
	background: #f5f5f5;
	border: 2px solid #009BC1;
}

.register-form label{
	display: inline-block;
	width: 8rem;
	text-align: left;
}

#submit{
	width: 100%;
	display: inline-block;
	border-radius: 0.2rem;
	border: 2px solid #006699;
	color: #fff;
	font-weight: bold;
	margin: 0.5rem 0 0 0;
	background: #006699;
}

#submit:hover{
	cursor: pointer;
	background: #00A3CC;
	transition: all .4s;
}
.register-form input{
	font-size: 1.1rem;
	width: 14rem;
	border-radius: 0.2rem;
	margin: 0.2rem;
	border: 1px solid black;
}

#footer{
	text-align: center; 
	padding: 3rem 0 3rem 0;  
	font-size: 1.0rem;	
	display: inline-block;
	width: 100%;
	height: 5rem;
	background-color: blueviolet;
}